
@import 'wingtip';

body{
  background-color: $grey6;
}

#page{
  background-color: $white;
}

footer{
  color: $grey2;
}

.show-grid{
  .row{
    margin-bottom: 1em;
    [class*="span"]{
      font-family: $bodyFontFamily;
      text-align: center;
      background-color: #eee; 
      border-right: 1px solid #ddd;
      border-left: 1px solid #ddd;
      padding: 2em 0;
    }
  }
}