<div class="navbar">
	<div class="navbar-inner">
		
		<ul class="nav">
			<li><%= link_to 'Buttons', 'buttons' %></li>
			<li><%= link_to 'Grid System', 'grid' %></li>
			<li><%= link_to 'Typography', 'type' %></li>
		</ul>
	</div>
</div>

