<div class="row">
  <div class="twelve columns">
    <p><a href="index.html">&laquo; Back</a></p>
    <h2>Foundation Button Testing</h2>
    <hr />
    <dl class="sub-nav">
      <dt>Go to:</dt>
      <dd><a href="#buttons">Buttons</a></dd>
      <dd><a href="#button-groups">Button Groups</a></dd>
      <dd><a href="#dropdown-buttons">Dropdown Buttons</a></dd>
    </dl>
  </div>
</div>

<!-- Test Foundation Components Here -->
<div class="row">
  
    <h3>Buttons</h3>
    
    <h4 class="subheader">
      Buttons are a convenient tool when it comes to more traditional actions. To that end, Foundation includes a lot of easy to use button styles that you can customize or override.
    </h4>
    
    <p>
      <a href="#" class="btn">Default</a>
    </p>
    
  </div>
</div>